{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Cocktail Nerd | Sign Up{% endblock title %}
{% block content %}
<div class="nerd-logout-container container-fluid">
    <div class="row">
        <!-- Hero Column -->
        <div class="vh-100 bg-dark text-light px-4 py-4 text-left">
            <div class="py-4">
                <div class="col-lg-6 mx-auto">
                    <h2>Sign Up</h2>
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br />
                        <button class="btn btn-warning" type="submit">Join Cocktail Nerd</button>
                    </form>
                    <br />
                    Your password can&#39;t be too similar to your other personal information.
                    <br />
                    Your password must contain at least 8 characters.
                    <br />
                    Your password can&#39;t be a commonly used password.
                    <br />
                    Your password can&#39;t be entirely numeric.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}