/* Default styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 18px;
    line-height: 1.8em;
}

ol {
    font-size: 18px;
    line-height: 1.8em;
}

li {
    font-size: 18px;
    line-height: 1.8em;
}

footer {
    margin-top: auto;
}

/* Logo Styling */

.nerd-logo {
    margin-top: -8px;
    width: 180px;
}

.nerd-logo-big {
    margin-top: -36px;
    width: 400px;
}

/* Navbar Styling */
.nerd-search {
    margin-left: 32px;
}

@media (max-width: 703px) {
    .nerd-search {
        margin-left: 0;
    }

    .nerd-navbar {
        width: 100%;
    }

    .nerd-login-buttons-container {
        margin-top: 1em;
    }
}

@media (min-width: 704px) and (max-width: 1200px) {

    .nerd-navbar {
        width: 500px;
    }
}

/* Mobile styling */
@media (max-width: 532px) {
    .nerd-logo-big {
        margin-top: 16px;
        width: 250px;
        margin-bottom: 16px;
    }
}

@media (min-width:532px) and (max-width: 703px) {
    .nerd-logo-big {
        margin-top: 16px;
        width: 250px;
        margin-bottom: 16px;
    }
}

/* Subheading Styling */

.nerd-page-subheading {
    font-weight: 300;
    text-transform: uppercase;
}

.nerd-featured-container {
    max-width: 1200px;
}


/* Card Styling Bootstrap */

.nerd-card-title {
    font-weight: 200 !important;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.card-cover {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #0000006e !important;
}

.card-cover:hover {
    opacity: 0.8;
}

/* Hero Background */

.nerd-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 0 2000px #000000ad !important;
}

/* Single post styling */
.nerd-post-title {
    font-weight: 300;
    text-transform: uppercase;
}

.nerd-post-cat-tag {
    font-weight: 400;
    text-transform: uppercase;
}

.nerd-comments-headline {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffc107 !important;
}

.nerd-comments-headline-wrapper {
    background: #000 !important;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    border-radius: calc(0.375rem - 1px);
}

.nerd-comment-username {
    font-weight: 600;
}

.nerd-comment-date {
    font-weight: 600;
    font-size: 14px;
}

.nerd-comment-display {
    border: solid #000 3px;
}

.nerd-comment-row {
    padding: 1em;
}

.nerd-comment-submit {
    margin-top: 1em;
}

/* Side Widgets om single post */
.nerd-side-widget-header {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ffc107 !important;
}

.nerd-sidebar {
    margin-top: 8em;
}

.nerd-sidebar-card {
    width: 400px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile styling */
@media (max-width: 532px) {
    .nerd-sidebar-card {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

/* Alert Warning */
.nerd-category-alert {
    text-transform: uppercase;
}