.nerd-logo {
    margin-top: -8px;
    width: 180px;
}

.nerd-logo-big {
    margin-top: -36px;
    width: 400px;
}

/* Mobile styling */
@media (max-width: 532px) {
    .nerd-logo-big {
        margin-top: 16px;
        width: 250px;
        margin-bottom: 16px;
    }
}

@media (min-width:532px) and (max-width: 703px) {
    .nerd-logo-big {
        margin-top: 16px;
        width: 250px;
        margin-bottom: 16px;
    }
}

.nerd-page-subheading {
    font-weight: 200;
}

.nerd-featured-container {
    max-width: 1200px;
}

a {
    color: #ffc107;
}

a:hover {
    color: #000;
}

.card-cover {
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #0000003b !important;
}

.card-text a {
    color: none;
}

.nerd-card-date {
    margin-right: 8px;
}