/* Logo Styling */

.nerd-logo {
    margin-top: -8px;
    width: 180px;
}

.nerd-logo-big {
    margin-top: -36px;
    width: 400px;
}

/* Navbar Styling */
.nerd-search {
    margin-left: 32px;
}

@media (max-width: 703px) {
    .nerd-search {
        margin-left: 0;
    }

    .nerd-navbar {
        width: 100%;
    }

    .nerd-login-buttons-container {
        margin-top: 1em;
    }
}

@media (min-width: 704px) and (max-width: 1200px) {

    .nerd-navbar {
        width: 500px;
    }
}

/* Mobile styling */
@media (max-width: 532px) {
    .nerd-logo-big {
        margin-top: 16px;
        width: 250px;
        margin-bottom: 16px;
    }
}

@media (min-width:532px) and (max-width: 703px) {
    .nerd-logo-big {
        margin-top: 16px;
        width: 250px;
        margin-bottom: 16px;
    }
}

/* Subheading Styling */

.nerd-page-subheading {
    font-weight: 200;
}

.nerd-featured-container {
    max-width: 1200px;
}


/* Card Styling Bootstrap */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.card-cover {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #00000054 !important;
}

.card-cover:hover {
    opacity: 0.8;
}

/* Hero Background */

.nerd-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 0 2000px #000000ad !important;
}