{% extends 'base/base.html' %}
{% block title %} New Post {% endblock %}

{% block content %}

{% if user.is_staff %}
<div class="container-fluid">
    <div class="row">
        <!-- Add New Post  -->
        <div class="text-bg-white px-4 py-5 text-left">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    {% if submitted %}
                    <h1 class="fw-bold">Your cocktail was published succesfully!!!</h1>
                    <br />
                    <a href="{{request.META.HTTP_REFERER|escape}}" class="nerd-cancel-button btn btn-warning me-2">
                        Add another Cocktail </a>
                    <a href="{% url 'manage_posts' %}" class="nerd-cancel-button btn btn-outline-secondary">
                        Cancel </a>

                    {% else %}
                    <h1 class="display-5 fw-bold">Add New Post</h1>
                    {% load cloudinary %}
                    <div class="form-floating">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br />
                            <button type="submit" class="btn btn-outline-success me-2"> Add Post </button>
                            <a href="{% url 'manage_posts' %}" class="nerd-cancel-button btn btn-outline-secondary">
                                Cancel </a>
                        </form>
                    </div>

                    {% endif %}
                </div>
                {% else %}
                <div class="vh-100 nerd-hero text-bg-secondary px-4 py-5 text-center">
                    <div class="py-5">
                        <div class="col-lg-6 mx-auto">
                            <h3 class="nerd-access-denied">Sorry permission denied you don't have access to do this!
                            </h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}