{% extends 'base.html' %}
{% block title %} New Post {% endblock %}

{% block content %}
{% if user.is_staff %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 align-items-center">
        <h1 class="display-5 fw-bold">Add new post</h1>
        {% load cloudinary %}
        <div class="form-floating">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ blog_form.as_p }}
                <br />
                <button class="btn btn-primary btn-lg"> Add Post </button>
            </form>
        </div>
    </div>
</div>
{% else %}
You are not allowed here. Please log in.

{% endif %}

{% endblock %}