{% extends 'base/base.html' %}
{% block title %}Cocktail Nerd | All Categories {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Hero Column -->
        <div class="nerd-hero bg-dark text-secondary px-4 py-5 text-center"
            style="background-image: url('/static/media/headers/cocktails-category-header.webp');">
            <div class="py-5">

                <h1 class="nerd-h1 display-5 fw-thin text-white">All Spirit Categories</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-4 mb-4 text-light">Here you can see a list of all the fabulous spirit categories on
                        Cocktail Nerd.</p>
                </div>
            </div>
        </div>
        <!-- All Categories Column -->
        <div class="container px-4 py-3 nerd-featured-container" id="custom-cards">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4"
                data-masonry='{"percentPosition": true }'>

                {% for category in category_list %}
                {% if "placeholder" in category.category_image.url %}
                <a href="{% url 'category' category.title %}" class="image-link">
                    <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                        style="background-image: url('/static/media/placeholder.webp');">
                        {% else %}
                        <a href="{% url 'category' category.title %}" class="image-link">
                            <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                style="background-image: url('{{ category.category_image.url }}');">

                                {% endif %}
                                <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                                    <h2 class="nerd-card-title pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                                        {{ category.title }}
                                    </h2>
                                </div>
                            </div>
                        </a>
                        {% if forloop.counter|divisibleby:3 %}

                        {% endif %}
                        {% endfor %}
                    </div>

            </div>
        </div>

    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}