{% extends 'base/base.html' %}
{% block title %} Delete Comment {% endblock %}

{% block content %}

{% if user.is_staff %}
<div class="container-fluid">
    <div class="row">
        <!-- Add New Post  -->
        <div class="vh-100 nerd-hero text-bg-secondary px-4 py-5 text-left">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h1 class="display-5 fw-bold">Delete Comment: {{ comment.body }}</h1>
                    <div class="form-floating">
                        <form method="post" data-url="{% url 'delete_comment' comment.pk %}" class="delete-form">
                            {% csrf_token %}
                            <br />
                            <p class="fs-4 mb-4 text-light">Are you sure?</p>
                            <button type="submit" class="btn btn-danger me-2"> Delete Comment</button>
                            <button type="submit" class="nerd-cancel-button btn btn-warning">
                                <a href="{{ request.META.HTTP_REFERER|escape }}">
                                    Cancel </a></button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="vh-100 nerd-hero text-bg-secondary px-4 py-5 text-center">
                    <div class="py-5">
                        <div class="col-lg-6 mx-auto">
                            <h3 class="nerd-access-denied">Sorry access denied please log in first.</h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}