{% extends 'base.html' %}
{% block title %} Edit Post {% endblock %}

{% block content %}

{% if user.is_staff %}
<div class="container-fluid">
    <div class="row">
        <!-- Add New Post  -->
        <div class="nerd-hero text-bg-secondary px-4 py-5 text-left">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h1 class="display-5 fw-bold">Edit Cocktail</h1>
                    {% load cloudinary %}
                    <div class="form-floating">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br />
                            <button type="submit" class="btn btn-success"> Update </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
You are not allowed here. Please log in.

{% endif %}

{% endblock %}