   <footer class="py-5 bg-dark">
       <div class="container-fluid">
           <div class="row">
               <div class="nerd-social-widget col-lg-6 mx-auto text-center">
                   <p class="nerd-footer-copyright m-0 text-center text-white">Copyright &copy; For Educational Purposes
                       Only</p>
                   <a href="https://facebook.com" class="nerd-social-link"><i
                           class="nerd-social-icon fa-brands fa-square-facebook"></i>Facebook</a>
                   <a href="https://twitter.com" class="nerd-social-link"><i
                           class="nerd-social-icon fa-brands fa-square-twitter"></i>Twitter</a>
                   <a href="https://facebook.com" class="nerd-social-link"><i
                           class="nerd-social-icon fa-brands fa-square-instagram"></i>Instagram</a>
               </div>
           </div>
       </div>
   </footer>