{% extends 'base/base.html' %}
{% load static %}
{% block title %}Cocktail Nerd | Manage Posts {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Hero Column -->
        <div class="nerd-hero nerd-hero-category bg-dark text-secondary px-4 py-2 text-center">
            <div class="py-5">

                <h1 class="nerd-h1 display-5 fw-thin text-white">Manage Posts</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-4 mb-4 text-light">Here you can add, edit and delete the posts</p>
                    <a href="{% url 'add_post' %}"><button type="button"
                            class="btn btn-outline-warning btn-lg px-4 me-sm-3 ">Add New Post</button></a>
                </div>
            </div>
        </div>
        <!-- All Categories Column -->
        <div class="nerd-cat-mgt-container container" id="featured-3">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-4 row-cols-sm-2">
                {% if user.is_staff %}
                {% for post in post_list %}
                <div class="nerd-cat-mgt-card feature col">
                    {% if "placeholder" in post.post_image.url %}
                    <div class="fd-inline-flex align-items-center justify-content-center text-bg-primary fs-2 mb-3">
                        <a href="{% url 'post_detail' post.slug %}"><img src="{% static 'media/placeholder.webp' %}"
                                alt="Cocktail Nerd Placeholder" width="100" height="100"
                                class="rounded-circle flex-shrink-0"></a>
                    </div>
                    {% else %}
                    <div class="fd-inline-flex align-items-center justify-content-center fs-2 mb-3">
                        <a href="{% url 'post_detail' post.slug %}"><img src="{{ post.featured_image.url }}"
                                alt="{{ post.title }}" width="100" height="100"
                                class="rounded-circle flex-shrink-0"></a>
                    </div>
                    {% endif %}
                    <h4 class="nerd-mgt-cat-title">{{ post.title }}</h4>
                    <a href="{% url 'edit_post' post.slug %}"><button type="button"
                            class="btn btn-success">Edit</button></a>
                    <a href="{% url 'delete_post' post.slug %}"><button type="button"
                            class="btn btn-danger">Delete</button></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% else %}
You are not allowed here. Please log in.
{% endif %}
</div>


</div>

</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}