{% extends 'base/base.html' %}
{% block title %}Cocktail Nerd | Manage Posts {% endblock %}
{% block content %}
{% load static %}
{% if user.is_staff %}
<div class="container-fluid">
    <div class="row">
        <!-- Hero Column -->
        <div class="nerd-hero nerd-hero-category bg-dark text-secondary px-4 py-2 text-center">
            <div class="py-5">

                <h1 class="nerd-h1 display-5 fw-thin text-white">Manage Posts</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-4 mb-4 text-light">Here you can add, edit and delete the posts</p>
                    <a href="{% url 'add_post' %}" class="btn btn-outline-warning btn-lg px-4 me-sm-3 ">Add New Post</a>
                </div>
            </div>
        </div>
        <!-- All Categories Column -->
        <div class="nerd-cat-mgt-container container" id="featured-3">
            <div class="row g-4 py-5 row-cols-2 row-cols-lg-4 row-cols-sm-3">
                {% for post in post_list %}
                <div class="nerd-cat-mgt-card feature col">
                    {% if "placeholder" in post.featured_image.url %}
                    <div class="fd-inline-flex align-items-center justify-content-center fs-2 mb-3">
                        <a href="{% url 'post_detail' post.slug %}"><img src="{% static 'media/placeholder.webp' %}"
                                alt="{{ post.title }}" width="100" height="100"
                                class="rounded-circle flex-shrink-0"></a>
                    </div>
                    {% else %}
                    <div class="fd-inline-flex align-items-center justify-content-center fs-2 mb-3">
                        <a href="{% url 'post_detail' post.slug %}"><img src="{{ post.featured_image.url }}"
                                alt="{{ post.title }}" width="100" height="100"
                                class="rounded-circle flex-shrink-0"></a>
                    </div>
                    {% endif %}
                    {% if post.status == 0 %}
                    <span>
                        <h4 class="nerd-mgt-cat-title">
                            <span class="nerd-draft-tag">DRAFT</span> {{ post.title }}
                        </h4>
                    </span>
                    {% else %}
                    <h4 class="nerd-mgt-cat-title">{{ post.title }}</h4>
                    {% endif %}
                    <a href="{% url 'edit_post' post.slug %}" class="btn btn-sm btn-success me-2">Edit</a>
                    <a href="{% url 'delete_post' post.slug %}" class="btn btn-sm btn-danger">Delete</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}


        {% else %}
        <div class="vh-100 nerd-hero text-bg-secondary px-4 py-5 text-center">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h3 class="nerd-access-denied">Sorry permission denied you don't have access to do this!
                    </h3>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}