{% extends 'base.html' %}
{% block title %}Cocktail Nerd | {{ post.title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="nerd-post-title">{{ post.title }}</h1>
                    {% if user.is_staff %}
                    <div class="nerd-edit-buttons">
                        <a href="{% url 'edit_post' post.slug %}"><button type="button"
                                class="btn btn-success">Edit</button></a>
                        <a href="{% url 'delete_post' post.slug %}"><button type="button"
                                class="btn btn-danger">Delete</button></a>
                    </div>
                    {% endif %}
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on
                        {{ post.created_on }} by {{ post.author }}</div>
                    <!-- Post categories-->
                    <a class="badge bg-dark text-decoration-none link-light"
                        href="{% url 'category' post.categories %}">{{ post.categories|title }}</a>
                    <hr>
                </header>
                <!-- Preview image figure-->
                {% if "placeholder" in post.featured_image.url %}
                <img src="/static/media/placeholder.webp" width="100%">
                {% else %}
                <figure class="mb-4"><img class="img-fluid rounded mx-auto d-block" src="{{ post.featured_image.url }}"
                        alt="{{ post.title }}" /></figure>
                {% endif %}
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.content | safe }}</p>
                </section>
                <!-- Ingredients widget-->
                <div class="card mb-4">
                    <div class="nerd-side-widget-header card-header text-bg-dark">Ingredients</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                {{ post.ingredients | safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Steps widget-->
                <div class="card mb-4">
                    <div class="nerd-side-widget-header card-header text-bg-dark">Steps</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                {{ post.steps | safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ratings widget -->
                <div class="card mb-4">
                    <div
                        class="nerd-side-widget-header card-header text-bg-dark d-flex flex-wrap align-items-center justify-content-center">

                        {% load ratings %}

                        {% ratings post %}
                    </div>
                </div>
                <!-- like and comment count widget -->
                <div class="card mb-4">
                    <div
                        class="nerd-side-widget-header card-header text-bg-dark d-flex flex-wrap align-items-center justify-content-around">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                Liked <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                    class="btn-like nerd-like-btn"><i class="fas fa-heart"></i></button>
                                {% else %}
                                Liked <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                    class="btn-like nerd-like-btn"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            Liked <span class="text-light"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-light">{{ post.number_of_likes }} </span>
                        </strong>
                        {% with comments.count as total_comments %}
                        <div><a class="nerd-link" href="#nerd-comments-widget">Comments</a>
                            <strong class="text-light"><i class="far fa-comments"></i>
                                <!-- Our total_comments variable goes before the closing strong tag -->
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </article>
        </div>


        <!-- Side widgets-->
        <div class="nerd-sidebar col-lg-4">
            <!-- Categories widget-->
            <div class="nerd-card card mb-4">
                <div class="nerd-side-widget-header card-header text-bg-dark">Cocktails by Spirit</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            {% for category in category_list %}
                            <a class="nerd-post-cat-tag badge bg-dark text-decoration-none link-light"
                                href="{% url 'category' category.title %}">{{ category.title }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="nerd-card card mb-4">
                <div class="nerd-side-widget-header card-header text-bg-dark">Featured Cocktails</div>
                {% for post in related_list %}
                {% if "placeholder" in post.featured_image.url %}
                <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('static/media/placeholder.webp');">
                    {% else %}
                    <a href="{% url 'post_detail' post.slug %}" class="image-link">
                        <div class="nerd-sidebar-card card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                            style="background-image: url('{{ post.featured_image.url }}');">

                            {% endif %}
                            <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                                <h2 class="nerd-card-title pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ post.title }}</h2>
                                <ul class="d-flex list-unstyled mt-auto">

                                    <li class="d-flex align-items-center">
                                        <p class="card-text h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                            {{ post.number_of_likes }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    {% if forloop.counter|divisibleby:3 %}

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-1">
    <div id="nerd-comments-widget" class="row nerd-comment-row">
        <div class="nerd-comment-display col-md-8 card mb-4 mt-3">
            <div class="card-body">
                <div class="nerd-comments-headline-wrapper">
                    <h3 class="nerd-comments-headline">Comments:</h3>
                </div>
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="nerd-comment-username">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        <span class="nerd-comment-date text-muted">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> {{ comment.name }} wrote:
                    </p>
                    {% if user.is_superuser %}
                    <a href="javascript:void(0)" data-url="{% url 'delete-comment' comment.pk %}"
                        class="text-danger text-sm delete-comment">Delete Comment</a> {% endif %}
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="text-bg-dark col-md-4 card mb-4  mt-3 ">
            <div class="comment_area card-body">
                <!-- Commment area -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3 class="nerd-comments-headline">Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="nerd-comment-submit btn btn-outline-warning btn-lg">Submit</button>
                </form>
                {% else %}
                <h3 class="nerd-comments-headline">Login to comment:</h3>
                <a href="{% url 'login' %}"><button type="button"
                        class=" btn btn-outline-warning me-2">Login</button></a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    $(document).ready(function (event) {
        $('.delete-comment').click(function () {
            var url = $(this).attr('data-url')
            if (confirm("Are you sure to delete this comment?") === true) {
                start_loader()
                $.ajax({
                    url: url,
                    error: err => {
                        console.error(err)
                        alert("An error occurred.")
                        end_loader()
                    },
                    success: function (resp) {
                        if (resp.status == 'success') {
                            location.reload()
                        } else if (!!resp.msg) {
                            alert(resp.msg)
                        }
                        end_loader()
                    }
                })
            }
        })
    });
</script>
{% endblock scripts %}