{% extends 'base/base.html' %}
{% block title %}Cocktail Nerd | {{ post.title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="nerd-post-title">{{ post.title }}</h1>
                    {% if user.is_authenticated %}
                    <!-- Commment area -->
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if user.is_staff %}
                    <div class="nerd-edit-buttons">
                        <a href="{% url 'edit_post' post.slug %}"><button type="button"
                                class="btn btn-success">Edit</button></a>
                        <a href="{% url 'delete_post' post.slug %}"><button type="button"
                                class="btn btn-danger">Delete</button></a>
                    </div>
                    {% endif %}
                    <hr>
                    <!-- Post meta content-->
                    <div class="text-muted mb-2"><a
                            class="nerd-post-cat-tag badge bg-dark text-decoration-none link-light"
                            href="{% url 'category' post.categories %}">{{ post.categories|title }} </a><i
                            class="nerd-post-clock fas fa-clock"></i>
                        {{ post.created_on | timesince  }} by {{ post.author }}</div>
                    <div class="nerd-post-meta-widget d-flex flex-row  bd-highlight mb-3 align-items-center
                        justify-content-between">
                        <div>
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST"
                                    id="post-like">
                                    {% csrf_token %}
                                    {% if liked %}
                                    Liked <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                        id="like-button" class="btn-like nerd-like-btn"><i
                                            class="fas fa-heart"></i></button>
                                    {% else %}
                                    Liked <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                        id="like-button" class="btn-like nerd-like-btn"><i
                                            class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                Liked <span id="like-button" class="text-muted"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <!-- The number of likes  -->
                                <span class="text-muted">{{ post.number_of_likes }} </span>
                            </strong>
                        </div>
                        {% with comments.count as total_comments %}
                        <div><strong><a class="nerd-comment-link" href="#nerd-comments-widget">Comments</a></strong>
                            <strong class="text-muted"><i class="far fa-comments"></i>
                                <!-- Total Comments -->
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                        <div class="text-muted mb-2">

                            {% load ratings %}

                            {% ratings post %}
                        </div>
                    </div>
                    <hr>
                </header>
                <!-- Preview image figure-->
                {% if "placeholder" in post.featured_image.url %}
                <img src="/static/media/placeholder.webp" width="100%">
                {% else %}
                <figure class="mb-4"><img class="img-fluid rounded mx-auto d-block" src="{{ post.featured_image.url }}"
                        alt="{{ post.title }}" /></figure>
                {% endif %}
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.content | safe }}</p>
                </section>
                <!-- Ingredients widget-->
                <div class="card mb-4">
                    <div class="nerd-side-widget-header card-header text-bg-light">Ingredients</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                {{ post.ingredients | safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Steps widget-->
                <div class="card mb-4">
                    <div class="nerd-side-widget-header card-header text-bg-light">Steps</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                {{ post.steps | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>


        <!-- Side widgets-->
        <div class="nerd-sidebar col-lg-4">
            <!-- Categories widget-->
            <div class="nerd-card card mb-4">
                <div class="nerd-side-widget-header card-header text-bg-light">Cocktails by Spirit</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            {% for category in category_list %}
                            <a class="nerd-post-cat-tag badge bg-dark text-decoration-none link-light"
                                href="{% url 'category' category.title %}">{{ category.title }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="nerd-card card mb-4">
                <div class="nerd-side-widget-header card-header text-bg-light">Featured Cocktails</div>
                {% for post in related_list %}
                {% if "placeholder" in post.featured_image.url %}
                <div class=" card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('static/media/placeholder.webp');">
                    {% else %}
                    <a href="{% url 'post_detail' post.slug %}" class="image-link">
                        <div class="nerd-sidebar-card card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                            style="background-image: url('{{ post.featured_image.url }}');">

                            {% endif %}
                            <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                                <h2 class="nerd-card-title pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ post.title }}</h2>
                                <ul class="d-flex list-unstyled mt-auto">

                                    <li class="d-flex align-items-center">
                                        <p class="card-text h6"><i class="fas fa-clock"></i>
                                            {{ post.created_on | timesince  }} <i class="far fa-heart"></i>
                                            {{ post.number_of_likes }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    {% if forloop.counter|divisibleby:3 %}

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-1">
    <div id="nerd-comments-widget" class="row nerd-comment-row">
        <div class="nerd-comment-display col-md-8 card mb-4 mt-3 bg-light">
            <div class="card-body">
                <div class="nerd-comments-headline-wrapper">
                    <h3 class="nerd-comments-headline">Comments:</h3>
                </div>
                <!-- We want a for loop to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="nerd-comment-username">
                        <!-- The commenter's name goes here -->
                        <span class="nerd-comment-date text-muted">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> {{ comment.name }}:
                    </p>
                    {% if user.is_superuser %}
                    <a href="{% url 'delete_comment' comment.pk %}" data-url="{% url 'delete_comment' comment.pk %}"
                        class="nerd-bold-text text-danger text-sm delete-comment">Delete Comment</a> {% endif %}
                    <!-- The body of the comment goes here-->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="text-bg-light col-md-4 card mb-4  mt-3 ">
            <div class="comment_area card-body">
                <!-- Commment area -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3 class="nerd-comments-headline">Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="nerd-comment-submit btn btn-outline-warning btn-lg">Submit</button>
                </form>
                {% else %}
                <h3 class="nerd-comments-headline">Login to comment:</h3>
                <a href="{% url 'login' %}"><button type="button"
                        class="nerd-comment-submit btn btn-outline-warning me-2">Login</button></a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}