{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Edit Profile -->
        <div class="text-bg-white px-4 py-5 text-left">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    {% if user_form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in user_form.errors.items %}
                            <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="form-content">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <h3>Profile for: {{ user.username | title }}</h3>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="small mb-1">Username:</label>
                                        {{ user_form.username }}
                                        <label class="small mb-1">Email:</label>
                                        {{ user_form.email }}
                                        <label class="small mb-1">First Name:</label>
                                        {{ user_form.first_name }}
                                        <label class="small mb-1">Last Name:</label>
                                        {{ user_form.last_name }}
                                    </div>
                                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                                </div>
                            </div>
                            <br><br>
                            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}